
<h2>Add participants to your exchange</h2>

<form action= "/events/<%=@event.id%>/participations" method="post" id="add-participants">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="email">Email:</label>
  <input type="email" name="user[email]"/>
  <input type="submit" value="Submit">
</form>

<br>

<% event_creator = @event.creator %>
<%if current_user == event_creator %>
    <form action= "/events/<%= @event.id %>" method="get" id="secret-santa">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="submit" value="Create exchange" class="btn">
    </form>
<%end%>

<h3>Currently attending:</h3>

<ul id="participant-list">
	<% if @event.participants %>
		<% @event.participants.each do |participant| %>
			<li><%= participant.first_name%> <%= participant.last_name%></li>
		<% end %>
	<% end %>
</ul>