<h2>Add participants</h2>

<form action= "/events/<%=@event.id%>/participations" method="post" id="add-participants">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="email">Email:</label>
  <input type="email" name="user[email]"/>
  <input type="submit" value="Submit">
</form>

<h3>Currently attending:</h3>
<ol id="participant-list">
<%@event.participants.each do |participant| %>
  <li><%=participant.first_name%> <%=participant.last_name%></li>
<%end%>
</ol>

<%=link_to 'Back to Events', events_path %>