<strong>Your Secret Santa: </strong> <%=@gift_exchange%></a>
  <ul>
  <%@all_exchanges.each do |x| %>
   <li><%=x.sender_id%>, <%=x.recipient_id%></li>
  <%user = User.find_by(id: x.sender_id)%>
  <%if x.sender_id == current_user.id%>
  <%user_2 = User.find_by(id: x.recipient_id)%></li>
  <li><%user_2.first_name%></li>
  <p><%=user.first_name%> your secret santa is <%=user_2.first_name%></p>
  <%end%>
