<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Suggested budget:</strong>
  $<%= @event.suggested_budget %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @creator.email %>
</p>

<p>
  <strong>Participants</strong>
  <%@participants.each do |participant|%>
  <%=participant.email%>
  <%end%>
<p>You've been assigned to buy a gift for: </p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
