<%= form_for @event do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :event_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :event_end_date %>
  </div>

  <div class="field">
    <%= form.label :suggested_budget %>
    <%= form.text_field :suggested_budget, id: :event_suggested_budget %>
  </div>
  <%= form.hidden_field :creator_id, value: current_user.id%>

  <div class="add-participant-container">

   <!--  <div class="col-sm-4">
      <label>First Name:</label>
    </div>
    <div class="col-sm-3">
      <label>Last Name:</label>
    </div>
    <div class="col-sm-3">
      <label>Email:</label>
    </div> -->

  <p><strong>Participants:</strong></p>
      <%= form.fields_for :participations do |participants_form| %>
        <div>
          <div>
            <%= participations_form.text_field :first_name, placeholder: "first name", class: 'form-control'%>
          </div>
          <div>
            <%= participations_form.text_field :last_name, placeholder: "last name", class: 'form-control' %>
          </div>
          <div>
            <%= participations_form.text_field :email, placeholder: "email", class: 'form-control' %>
          </div>
          <div>
            <button type="button" class="btn btn-danger hide-participant part">Remove</button>
          </div>
        </div>
      <% end %>

      <button type="button" class="btn btn-success show-participant part outside">Add Participant</button>

      <br />

      </div>
      <br />
      <%= form.submit 'Create event', class: "btn btn-primary btn-lg btn-default" %>
      <% end %>
    </div>
  </div>
</div>


