<div class="container">
<p id="notice"><%= notice %></p>

<div>
<%= link_to 'Create New Event', new_event_path %>

</div>

<h1>Attending Events</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Suggested budget</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div>
    <% current_user.events.each do |event| %>

        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td>$<%= event.suggested_budget %></td>
        <td><%= event.creator.first_name %> <%=event.creator.last_name%></td>
        <td><%= link_to 'Details', event %></td>
      </tr>
    <% end %>
  </div>
  </tbody>
</table>
</div>

<div class="container">
<p id="notice"><%= notice %></p>

<h1>Hosting Events</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Suggested budget</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div>
    <% @events.each do |event| %>

    <% if event.creator_id == current_user.id %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td>$<%= event.suggested_budget %></td>
        <td><%= event.creator.first_name %></td>
        <td><%= link_to 'Details', event %></td>
        <td><%= link_to 'Edit event', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

    <% end %>
  </div>
  </tbody>
</table>
</div>
