<p id="notice"><%= notice %></p>

<p><h3><%= @event.name %></h3></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Suggested budget:</strong>
  $<%= @event.suggested_budget %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @event.creator.first_name %> <%=@event.creator.last_name %>
</p>

<%if current_user == @event.creator %>
  <p><strong>Participants:</strong></p>
  <p><%= link_to "Add a participant", new_event_participation_path(@event) %></p>
<% end %>
  <ol>
  <%@event.participants.each do |participant| %>
  <li><%=participant.first_name%> <%=participant.last_name%></li>
  <% end %>
  </ol>

  <%if current_user == @event.creator %>
  <form action= "/events/<%=@event.id%>" method="get" id="secret-santa">

    <input type="submit" value="Start Secret Santa" class="btn">
  </form>
<%end%>

<br />

 <div id="secret">
 <p>
  <strong>Your Secret Santa: </strong> <%=@gift_exchange%></a>
  <ul>

  <%@all_exchanges.each do |x| %>

  <%user = User.find_by(id: x.sender_id)%>
  <%if x.sender_id == current_user.id%>
  <%user_2 = User.find_by(id: x.recipient_id)%></li>
  <%user_2.first_name%>
  <p><%=user.first_name%> your secret santa is <%=user_2.first_name%></p>
  <%end%>




  <%end%>

</ul>
  </p>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
