<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Suggested budget:</strong>
  $<%= @event.suggested_budget %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @event.creator.first_name %>
</p>

<p>

<%= link_to "Add participants", new_event_participation_path(@event) %>

<p><strong>Your Secret Santa: </strong> <a href="/wishlists/<%=@wishlist.id%>"><%=@gift_exchange.sender.first_name%></p>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
