<p id="notice"><%= notice %></p>

<p><h3><%= @event.name %></h3></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Suggested budget:</strong>
  $<%= @event.suggested_budget %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @event.creator.first_name %> <%=@event.creator.last_name %>
</p>


<p><strong>Participants:</strong></p>
  <p><%= link_to "Add participants", new_event_participation_path(@event) %></p>


  <ol>
  <%@event.participants.each do |participant| %>
  <li><%=participant.first_name%> <%=participant.last_name%></li>
  <% end %>
  </ol>


<br />

<div id="secret">
 <b>Pairs created: </b>
 <% participants = @event.participants %>
 <% nb_participants = participants.length %>
 <% if nb_participants > 0 %>
 <% temp = participants[0] %>
 <% assignees = Array.new(nb_participants, 0) %>
   <% participants.each_with_index do |elt, index| %>
    <% assignees[index] = participants[index+1] %>
   <% end %>
 <% assignees[(nb_participants-1)] = temp %>
 <% end %>
</div>




<div>
<% if nb_participants > 0 %>
  <% assignees.each_with_index do |elt, index| %> 
  <% current_participant = participants[index] %>
  <% if current_user.first_name == current_participant.first_name %>
  <% assignee = assignees[index] %>
   <%= current_participant.first_name %>, you have: <a href="/wishlists/<%= assignee.id %>"><%= assignee.first_name %></a>
    <br>
  <% end %>
  <% end %> 
<% end %> 
</div>



<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', wishlists_path %>
