<div style="width: 100%; overflow: hidden;">
    <div id="keyword-search" class="form-container" style="width: 600px; float: left;">
      <%= form_with(model: gift, local: true) do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>You can search for your new gift by <b>keyword</b> or by <b>category</b></p>

  <div class="field">
    <%= form.label :keyword %>
    <%= form.text_field :keyword, id: :gift_name %>
  </div>

  <div class="actions">
    <%= form.submit class: 'create_gift'%>
  </div>
<% end %>
    </div>
    <div class="res" style="margin-left: 620px;">

    </div>
</div>
