
<div class="results-container">
<% if @results %>

  <form action="/gifts" method="POST">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
     
    <input type='submit' value="Add selected items">
    <br>
    <br>
      
        <div class="card-group">

          <% @results[:names].each_with_index do |item, index|%>
            <% image = @results[:images][index] %>
            <% url = @results[:urls][index] %>
            <% price = @results[:prices][index] %>
            <% category = @results[:categories][index] %>
            <% item_name = @results[:names][index] %>
              <div class="card">
                  <div class="card-block">
                    <img class="card-img-top" src=<%= image %> alt="Card image cap" height="150" width="150">
                    <input type="hidden" name='gift[<%=index%>][name]' value=<%= item_name %>/>
                    <input type="hidden" name='gift[<%=index%>][price]' value=<%= price %>/>
                    <input type="hidden" name='gift[<%=index%>][url]' value=<%= url %>/>
                    <input type="hidden" name='gift[<%=index%>][category]' value=<%= category %>/>
                    <p class="card-text">
                      <b>Description: </b> <%= item_name %> | <b>Price: </b> <%= price %>
                    </p>
                    <h4 class="card-title"> Add this item <input type='checkbox' name='gift[<%=index%>][want]'/></h4>
                  </div>
                  <br>
                  <br>
                  <br>
                
              <% end %>
        
      </div>  
  </form>

<% end %>
