<div class="container">
<%= form_for @wishlist do |form| %>
  <% if wishlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

      <ul>
      <% wishlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :wishlist_name %>

  </div>


  <ul>
    <%= form.fields_for :gifts do |gifts_form| %>
      <li>

        <%=gifts_form.label :gift_name %>
        <%=gifts_form.text_field :name %>

        <%= gifts_form.label :price %>
        <%= gifts_form.text_field :price %>

        <%= gifts_form.label :url %>
        <%= gifts_form.text_field :url %>

        <%= gifts_form.label :category %>
        <%= gifts_form.text_field :category %>



      </li>
      <%end%>
      </ul>
      <div class="actions">
      <%= form.submit %>
    </div>
    <%end%>
</div>
