<p id="notice"><%= notice %></p>

<h1><%= current_user.first_name %>'s Wishlist | <a href='gifts/new'>Add a new item</a></h1>



<% current_user_wishlist = current_user.wishlists[0] %>
<% wishlist_gifts = current_user_wishlist.gifts %>

<br>

<table>
 <thead>
   <tr>
     <th>Name</th>
     <th>Gift</th>
     <th>Url</th>
     <th>Category</th>
   </tr>
 </thead>

 <tbody>
   <% wishlist_gifts.each do |gift| %>
     <tr>
       <td><%= gift.name %></td>
       <td><%= gift.price %></td>
       <td><%= gift.url %></td>
       <td><%= gift.category %></td>
     </tr>
   <% end %>
 </tbody>
</table>