<p id="notice"><%= notice %></p>

<h1><%= current_user.first_name %>'s Wishlist | <a href='gifts/new'>Add a new item</a></h1>



<% current_user_wishlist = current_user.wishlists[0] %>
<% wishlist_gifts = current_user_wishlist.gifts %>

<br>

<table>
 <thead>
   <tr>
     <th>Gift</th>
     <th>Url</th>
     <th>Category</th>
     <th>Price</th>
   </tr>
 </thead>

 <tbody>
   <% wishlist_gifts.order(:price).each do |gift| %>
     <tr>
      <% link = gift.url%>
       <td><a href=<%= link %>><%= gift.name %> </a></td>
       <td><%= gift.category %></td>
       <td><%= gift.price %></td>
     </tr>
   <% end %>
 </tbody>
</table>
