<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wishlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user_id %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
